<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BadgeCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,425},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ButtonOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,158},{139,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{139,40}}</string>
                <key>sourceSize</key>
                <string>{147,40}</string>
            </dict>
            <key>ButtonOutline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,393},{178,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,40}}</string>
                <key>sourceSize</key>
                <string>{182,40}</string>
            </dict>
            <key>ButtonSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,356},{47,28}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>Drop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,479},{15,22}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,22}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Flail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,452},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Flail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,462},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{13,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Flail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,443},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{13,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Flail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,425},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Flail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,361},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{13,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Flail6.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,427},{15,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Icon-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,388},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Loader.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,356},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{45,43}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>Portal.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,168},{20,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{20,80}</string>
            </dict>
            <key>ScoreMeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1},{167,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,16}}</string>
                <key>sourceSize</key>
                <string>{167,16}</string>
            </dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,400},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>cg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,181},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{6,8}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>cg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,348},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{10,12}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>cg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,466},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{18,16}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>cg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,147},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{22,20}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>cg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,454},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,24}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>cg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,45},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,74},{2,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{2,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,168},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,335},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>fuel-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,385},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>gate-edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,443},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ground-base.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,400},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,411},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,379},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,400},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-flappy.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,249},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-jungle.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,356},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-mars.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,347},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,315},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground-snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,283},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,347},{30,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>jet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,400},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>jet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,400},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>jet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,400},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>jet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,400},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>jet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,400},{15,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{341,123}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{341,123}}</string>
                <key>sourceSize</key>
                <string>{341,137}</string>
            </dict>
            <key>man-portal.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,122},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,98},{23,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,23}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>spike2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,446},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{19,19}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>spike3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,74},{23,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,23}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,335},{128,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{128,20}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>sun-cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,261},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>sun-dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,18},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>sun-desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>sun-flappy.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,434},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>sun-jungle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,536},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sun-mars.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,199},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sun-moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,125},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sun-snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>zoomer.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,18},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainSpriteSheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdc3cfa20a38af51ab264c146e15bf78:5f1442853c54093fdb0ede46542a685b:8a786e9264167246409e0165a464536d$</string>
            <key>textureFileName</key>
            <string>MainSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
